<h3 class="center"> Interview Archive </h3>

<div class="row center search-box">
  <form class="col s12">
    <div class="row search-bar">
      <div class="input-field">
        <i class="material-icons prefix">search</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">Search</label>
      </div>
    </div>
  </form>
</div>

<% @interviews.each do |interview| %>
  <div class="row">
    <div class="col s12 m12">
      <div class="card green lighten-5">
        <div class="card-content black-text">
          <span class="card-title">
            <b><%= link_to interview.name, interviews_show_path(interview) %></b>
          </span>
          
          <p align="justify"><b>Duration: </b> <%= interview.duration %> </p>
          
          <% if interview.languages != "" %>
            <p align="justify"><b>Languages:</b> <%= interview.languages.join(", ") %> </p>
          <% end %>

          <% if interview.themes != "" %>
            <p align="justify"><b>Themes:</b> <%= interview.themes.join(", ") %> </p>
          <% end %>
        </div>  
      </div>
    </div>
  </div>  
<% end %>



<!-- <div class="row">
  <table class="highlight centered responsive-table" id="interview-table">
    <thead>
      <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Duration</th>
          <th>Language(s)</th>
          <th>Themes</th>
      </tr>
    </thead>

    <tbody>
    <% @interviews.each do |interview| %>
      <tr>
        <td><%=link_to interview.name, interviews_show_path(interview)%></td>
        <td><%=interview.interview_date %></td>
        <td><%=interview.duration %></td>
        <td><%=interview.languages.join(", ") %></td>
        <td><%=interview.themes.join(", ") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
      
 -->
