<h3 class="center"> Interview Archive </h3>

<div class="row center search-box">
  <form class="col s12">
    <div class="row search-bar">
      <div class="input-field">
        <i class="material-icons prefix">search</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">Search</label>
      </div>
    </div>
  </form>
</div>

<div class="center">
  <%= will_paginate @interviews %>
</div>
<br>
<% @interviews.each do |interview| %>
  <div class="row">
    <div class="col s12 m12 hvr-grow">
      <div class="card grey lighten-4 interview-record ">
        <div class="card-content black-text">
          <span class="card-title">
            <b><%= link_to interview.name, interviews_show_path(interview) %></b>
          </span>
          
          <p align="justify"><b>Duration: </b> <%= interview.duration %> </p>
          
          <% if interview.languages != [] %>
            <p align="justify"><b>Languages:</b> <%= interview.languages.join(", ") %> </p>
          <% end %>

          <% if interview.themes != [] %>
            <p align="justify"><b>Themes:</b> <%= interview.themes.join(", ") %> </p>
          <% end %>
        </div>  
      </div>
    </div>
  </div>  
<% end %>

<br><br><br>
<div class="center">
  <%= will_paginate @interviews %>
</div>
