<!DOCTYPE html>
<html>
  <head>
    <title>RemembranceProject</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" />
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/nav' %>
      <%= render 'layouts/header' unless @disable_header%>
    </header>

    <main>
      <div class="container">
        <div class="section">
            <%= yield %>
        </div>
      </div>
      <br><br>
    </main>

    <%= render 'layouts/footer' %>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alif-bae/lumsdigitalarchive-assets@2b12f420/remembrance-resources/js/init.js"></script>
  </body>
</html>
